@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}
body {
    background-image: url('../images/map-bg.jpeg');
}

main {
    margin: 50px 15%;
    text-align: center;
    min-height: 0;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 50px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

.addfriend-btn {
    margin: 1%;
    padding: 10px;
    border-radius: 25%;
    margin-top: 4%;
}
.addfriend-btn:hover {
    background-color: #48CAE4;
    color: white;
}

@media only screen and (max-width: 699px){
    main {
        width: 100%;
    }
}