@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {font-family: 'Noto Sans', sans-serif;}
html {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    position: relative;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ADE8F4;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    position: relative;
    padding: 0 14px;
    display: none;
    background-color: #ffffff;
    padding: 14px;
  }

  h1 {
      text-align: center;
      padding: 10px;
      background-color: whitesmoke;
    }
body {
  background-image: url(../images/map-bg.jpeg);
  overflow: hidden;
  position: absolute;
  height: 200vh;

}
