@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {font-family: "Noto Sans", sans-serif;}
main {
    margin-top: 20px;
    text-align: center;
    height: 200px;
    color: black;
    background-color: whitesmoke;
    border-radius: 25px;
    border: 1px solid black;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
body {background-image: url(../images/map-bg.jpeg);}
p2 {font-size: 14px;}
h2 {
    text-align: center;
    padding: 5px;
    background-color: whitesmoke;
    width: 100px;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.WA {background-color: lavender;}
.WA:hover {background-color: #25D366;}
.Copy {background-color: lavender;}
.Copy:hover {background-color: lightsteelblue;}
button {
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}
.list {height: 100vh;}
.dropbtn {
    background-color: whitesmoke;
    padding: 8px 75px;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 7px;
    margin-left: 7px;
    border: none;
    width: 40vw;
    height: 7vh;
}
.dropdown {
    position: relative;
    display: inline-block;
    left: -10vw;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    left: 2;
    background-color: transparent;
    width: 40vw;
    min-width: 100px;
    top: 48px;
    height: 50px;
    border-radius: 0px;
    z-index: 5;
}
form {z-index: 3;}
.dropdown-content a {
    padding: 8px 75px;
    text-decoration: none;
    display: block;
    width: 40vw;
    right: 0;
    z-index: 1;
}
.dropdown-content a:hover { background-color: #ADE8F4;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #ADE8F4;}
.friendList {
    background-color: #CAF0f8;
    border: 1px solid #ADE8F4;
    display: inline-block;
    font-size: 13px;
    width: 40vw;
    height: 8vh;
}
.friendList:hover {background-color: #ADE8F4;}
.friendList:active {
    position: relative;
    top: 1px;
}
.search-input {
    width: 15vw;
    height: 6vh;
    border-radius: 25px;
    text-align: center;
    border: 2px solid #00002e;
    background: whitesmoke;
}
.search-btn {
    padding: 8px 75px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 25px;
    border: 2px solid #00002e;
    background: whitesmoke;
}
.pfp {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    float: left;
    position: absolute;
    left: 88%;
    margin-top: -1vh;
}
.fb-share-button {
    margin-top: 5px;
    margin-bottom: 5px;
}